/* 1200 */
@media only screen and (max-width: $xlarge) {

}

/* 992 */
@media only screen and (max-width: $large) {

}

/* 768 */
@media only screen and (max-width: $medium) {

}

/* 576 */
@media only screen and (max-width: $small) {

}

@media only screen and (max-width: $small) and (orientation: portrait) {
	body {
		font-size: 20px;
	}
}

@media only screen and (max-width: 524px) and (orientation: portrait) {
	body {
		font-size: 19px;
	}
}

@media only screen and (max-width: 473px) and (orientation: portrait) {
	body {
		font-size: 18px;
	}
}

@media only screen and (max-width: 422px) and (orientation: portrait) {
	body {
		font-size: 17px;
	}
}

@media only screen and (max-width: 371px) and (orientation: portrait) {
	body {
		font-size: 16px;
	}
}
